#
##########################################################
#  Dill
#  System update utility for Arch-based Linux distros
#
#  Repository:
#    https://github.com/Pickles-Linux/pickles-update
#       To be moved to own Repo after 1st Stable Release
#
#  Author:
#    Stu Pickles
#    https://github.com/Stu-Pickles3047
#               for
#   Pickles Linux
#   https://github.com/Pickles-Linux/
#
#  License:
#    The Unlicense
#
# -------------------------------------------------
#  Description:
#    Default configuration file for Dill.
#    Copy to ~/.config/dill/dill.config to override settings.
# -------------------------------------------------

# ------------------------------
# Core Settings
# ------------------------------

# Version of Dill
VERSION="0.0.1"

# Debug flag for scripts
DEBUG=true

# Keep cache after AUR updates
KEEP_CACHE=false

# Cache directory for AUR operations
CACHE_DIR="$HOME/.cache/dill"

# ------------------------------
# pacman Behaviour
# ------------------------------

# Add standard pacman fun option
ILoveCandy=true

# ------------------------------
# UI / Display
# ------------------------------

# Header colour for Dill logo
# Options:
# black red green yellow blue magenta cyan white
#HEADER_COLOR="white"